.editnav{
    background-color: #343a40 !important;
    height: auto !important;
}
@media(max-width : 768px){
    .row{
        flex-direction: column;
        align-items: center;
    }
}
@media(991.9px <= width <= 1020.0px){
    .editcar{
        width: 102% !important;
    }
    .navbar{
        width: 102% !important;
    }
}


.editicons{
    font-size: 29px !important;
}
.card-body{
    text-align: center !important;
}
.editbtn{
    background-color: indianred !important;
    border-color: indianred !important;
}
.card{
    border: none !important;
}
video{
    width: 100% !important;
    height: auto !important;
}
@media(max-width : 575.9px){
    .card{
        margin-top:1.5rem !important ;
        margin-bottom:1.5rem !important ;
    }
}
.textinput{
    width: 68%;
    height: 5vh;
    border-radius: 0.5rem;
    border-color: white;
}
@media(260.9px <= width <= 767.9px){
    .textinput{
        width: 90% !important;
    }
    .textinput2{
        width: 90% !important;
    }
}
@media(768.9px <= width <= 991.9px){
    .textinput{
        width: 100% !important;
    }
    .textinput2{
        width: 100% !important;
    }
}
@media(767.9px <= width <= 768.8px){
    .textinput{
        margin-top: 2rem !important;
        width: 110% !important;
    }
    .textinput2{
        width: 110% !important;
    }
}
.textinput2{
    width: 68%;
    height: 25vh;
    border-radius: 0.5rem;
    border-color: white;
}
@media(max-width : 576.9px){
    .textinput2{
        margin-bottom: 1.5rem;
    }
    
}
ul li h4{
    color: indianred;
    text-decoration: underline;
}
.editli{
    list-style: circle;
    margin-bottom: 1.3rem;
}
/*=------------------------------------------------------------------------------*/
.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #26df54;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card4:hover .discord {
    fill: white;
  }
/*------------------------------------------------------------------*/
.editiconheart:hover{
    cursor: pointer !important;
    color: red !important;
    transition: 0.5s all linear;
}
.editiconheart{
    color: indianred !important;
}

.edithome{
    color: indianred !important;
}
.editpara{
    color: #777;
    letter-spacing: 3px;
    font-size: 18px;
}
/*=-------------------------------------------------------*/
.cardslatestpro {
    border-radius: 14px;
    box-shadow: 20px 60px 20px #bebebe
    ;
}
.editnavbar{
    background-color: #343a40 !important;
}
.edithome{
    color: indianred !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    width: 116% !important;
}
.edititemofnacbar{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: white !important;
    width: 116% !important;
}
.editdrop:hover{
    width: auto !important;
    height: auto !important;
    cursor: pointer !important;
    color: white !important;
    text-transform: uppercase;
    transition: 0.5s ease all !important;
    background-color: indianred !important;
}
.editdrop{
    background-color: #343a40 !important;
    color: white !important;
}
.editlidropp{
    background-color: #343a40 !important;
    
}
.edititemofnacbar:hover{
    cursor:  pointer !important;
    color: white !important;
    background-color: indianred !important;
    transition: 0.9s !important;
    border-radius: 0.5rem !important;
}
.edithome:hover{
    cursor:  pointer !important;
    color: white !important;
    background-color: indianred !important;
    transition: 0.9s !important;
    border-radius: 0.5rem !important;
}
/*=---------------------------------------menshop------------------------------------------------------------------------*/
.divimage{
    background-image: url(./images/products-background.jpg);
    background-size: cover;
    width: 100%;
    background-size: cover;
    height: 79vh;
}
@media(991.9px <= width <= 1020.0px){
    .divimage{
        width: 102% !important;
    }
    .navbar{
        width: 102% !important;
    }
}